@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
  box-sizing: border-box;
}

:root {
  cursor: default;
  --background-color: rgb(17, 17, 17);
  --text-color: white;
  --content-area-color: rgb(36, 36, 36);
  --theme-color: red; /* to be set through JS*/
}

body {
  text-align: center;
  background: var(--background-color);
  color: var(--text-color);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container__main {
  margin: 0px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0%;
}

.search {
  color: var(--theme-color);
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2rem 0;
}

.search__label {
  position: relative;
  color: white;
  width: 300px;
  margin: 0 1rem;
  border-bottom: 2px solid var(--theme-color);
  height: 40px;
}

.search__label-input {
  position: absolute;
  inset: 0;
  color: white;
  cursor: default;
  background-color: transparent;
  border: none;
  height: 40px;
  caret-color: var(--theme-color);
  font-size: 1.2rem;
}

.search__label-input:active,
.search__label-input:focus {
  outline: none;
  border: none;
}

.main__content {
  background-color: var(--content-area-color);
  padding: 1rem 1rem;
  border-radius: 5px;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explore__emoji-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(14, 50px);
}

/* result container */

.container__result {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media screen and (max-width: 950px) {
  .explore__emoji-list {
    grid-template-columns: repeat(12, 50px);
  }
}

@media screen and (max-width: 850px) {
  .explore__emoji-list {
    grid-template-columns: repeat(10, 50px);
  }

  .container__result {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .explore__emoji-list {
    grid-template-columns: repeat(8, 50px);
  }
}

@media screen and (max-width: 650px) {
  .search__label {
    width: 220px;
  }
}

@media screen and (max-width: 600px) {
  .explore__emoji-list {
    grid-template-columns: repeat(6, 50px);
  }
  .container__result {
    grid-template-columns: repeat(2, 1fr);
  }
}

.emoji-list__item {
  font-size: 2rem;
}

.explore__btn {
  background-color: #181717;
  border-radius: 5px;
  color: var(--theme-color);
  font-weight: ;
  font-size: 1.1rem;
  width: 100%;
  margin: 1.2rem 0 0 0;
  padding: 0.5rem 0;
}
.nav {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
}

.nav__brand--mod {
  color: var(--theme-color);
}

.nav__links {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav__links-item {
  color: var(--theme-color);
  margin-left: 2rem;
}

.nav__links-item--nostyle {
  color: inherit;
  text-decoration: none;
}

.container__footer {
  color: var(--theme-color);
  height: 3rem;
  display: flex;
  place-content: center;
  align-items: center;
}

/* resultCard */

.result-card {
  display: flex;
  color: var(--background-color);
  flex-direction: column;
  align-items: center;
  background-color: var(--theme-color);
  padding: 1rem;
  border-radius: 5px;
}

.result-character {
  font-size: 4rem;
  margin: 1rem 0;
}

.result-name {
  font-weight: bold;
  margin-bottom: 1rem;
}

.result-code {
  font-size: 0.7rem;
}

/* cursors */

.nav__brand,
.nav__links-item,
.explore__btn,
.result-card,
.emoji-list__item {
  cursor: pointer;
}

.search__label-input {
  cursor: text;
}

/* details page */

.detail {
  display: grid;
  padding: 3rem 4rem;
  gap: 20px;
  background-color: #cccccc;
  color: var(--background-color);
  grid-template:
    "character character"
    "character character"
    "name name"
    "code code";
  align-items: center;
  justify-items: start;
}

.detail__character {
  justify-self: center;
  grid-area: character;
  font-size: 15rem;
}

.detail__name {
  grid-area: name;
  margin-top: 2rem;
}

.detail__code {
  grid-area: code;
  margin: 2rem 0 1.5rem;
}

.detail__code,
.detail__name {
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* .detail__name-label,
.detail__code-label {
  
} */

.detail__name-data,
.detail__code-data {
  margin-left: 1rem;
}

.detail__name-data {
  font-weight: bold;
}

.detail__code-data {
  font-size: 1.5rem;
}
